@axe-devtools:registry=https://agora.dequecloud.com/artifactory/api/npm/devtools-npm/
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:_auth=cm9zZWVhd29uLmtAcGcuY29tOkFLQ3A4bkd1Mlo4WUNEUDVBakFMekFwb0tYZ01xZ21zWVBodUo2cUNBVFlDdUp2ODU4UDNSZ1NRNmd5eldGTVZQQTRuU2VHZDk=
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:email=roseeawon.k@pg.com
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:always-auth=true